<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://unpkg.com/vue@3"></script>
    <title>Document</title>
</head>
<body>

    <!-- ejemplo -->
    <div id="contenedor">
        
        <form>
            <fieldset>
                <legend>
                    Acceso Panel
                </legend>

                <label>
                    Correo electronico
                </label>
                <input type="email" v-model="email" name="">

                <label>
                    Password
                </label>
                <input type="password" v-model="password" name="">

                <button @click="login">
                    Acceder
                </button>
            </fieldset>
        </form>

    </div>

    <script type="text/javascript">
        //vincular vue con mi contenedor
        const {createApp} = Vue;

        const data = null;
        const error = null;

        const app = createApp({
            data(){
                return{
                    users:null,
                    email:'',
                    password:''
                }
            },
            methods: {
                login(e){
                    e.preventDefault();
                    
                    var email_user = this.email
                    var password_user = this.password

                    var acces = false;

                    this.users.forEach((u) => {
                        if (email_user.toLowerCase() === u.email.toLowerCase()){
                            if(password_user === u.password){
                                alert("Quiubole con JSON by Jordy Rosado")
                                acces = true;
                                window.localStorage.setItem("user", JSON.stringify(u))
                                window.location.href = "tabla.html"
                            }
                        }
                    })

                    if(!acces){
                        alert("Los datos son incorrectos")
                    }
                    console.log(acces)
                    console.log(JSON.parse(window.localStorage.getItem("user")).username)
                }
                
            },
            mounted(){
                fetch('users.json')
                    .then((res) => res.json())
                    .then((json) => (this.users = json))
                    .then((err) => (console.log(err)))
            }
        }).mount('#contenedor')
    </script>
</body>

</html>